
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: lightgray;
}

.calculator {
    width: 20rem;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 1rem;
}

#display {
    grid-column: span 4;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.operator, #calculate {
    background-color: skyblue;
    color: white;
}

#clear {
    background-color: tomato;
    color: white;
}
